body {
    min-height: 100dvh;
}

#form-contact-container h1 {
    text-align: center;
    padding: 1em;
    font-size: 3rem;
}

#form-contact-container form {
    display: flex;
    flex-direction: column;
    width: 45dvw;
    min-width: 300px;
    gap: 10px;
    padding: 2em;
    margin: 0 auto;
    background-color: #10B981;
    margin-bottom: 5dvh;

    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.35);
}

#form-contact-container form label {
    color: white;
    font-weight: 500;
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.35));
}

#form-contact-container form input {
    padding: 8px 12px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.35);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1rem;
    transition: outline-color .3s ease-in-out, transform .3s ease-in-out;
}

#form-contact-container form input:focus {
    box-shadow: none;
    outline: 2px solid rgb(3, 36, 17);
    outline-offset: 4px;
    transform: scale(102.5%);
    color: #111;
}

#form-contact-container form textarea {
    resize: none;
    padding: 8px 12px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.35);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1rem;
    transition: outline-color .3s ease-in-out, transform .3s ease-in-out;
    margin-bottom: 0.25rem;
}

#form-contact-container form textarea:focus {
    box-shadow: none;
    outline: 2px solid rgb(3, 36, 17);
    outline-offset: 4px;
    transform: scale(102.5%);
    color: #111;
}

#form-contact-container form input[type="submit"] {
    max-width: max-content;
    margin: 0 auto;
    background-color: aquamarine;
    color: black;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

#form-contact-container form input[type="submit"]:focus {
    outline: none;
    transform: none;
    color: black;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.35);
}

#form-contact-container form input[type="submit"]:hover {
    transform: translateY(-10%) scale(110%) rotate(-2deg);
}

footer {
    width: 100dvw;
    position: static;
    bottom: 0;
}